* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --color-darker: #F2BED1;
    --color-dark: #FDCEDF;
    --color-light: #F8E8EE;
    --color-lighter: #F9F5F6;
    --color-highlight: rgb(160, 113, 166);
    --font-xlarge: 2.5em;
    --font-large: 1.5em;
    --font-medium: 1.3em;
    --font-small: 1.2em;
    --font-xsmall: .9em;
}

input:focus {
    outline: 3px dashed var(--color-lighter);
}


main {
    text-align: center;
    margin: 20px;
}

.filtros {
    text-align: start;
    border: 2px solid black;
    display: inline-block;
    margin: 30px;
    padding: 20px;

}

label {
    display: block;
    margin: 10px;
}
.botones{
    position: relative;
    left: 28%;

}

.btn-buscar, .btn-carrito {
    margin: 10px;
    padding: 10px;
    border-radius: 0.5em;
    box-shadow: #4d4d4d 3px 3px;
}

.btn-buscar:hover{
    background-color: #F2BED1;
    
}


.btn-carrito:hover{
    background-color: #F2BED1;
    
}