* { 
     margin: 0; 
     padding: 0; 
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
     box-sizing: border-box; 
 } 
  
 :root { 
     --color-darker : #30323D; 
     --color-dark : #4D5061; 
     --color-light : #5C80BC; 
     --color-lighter : #E8C547; 
     --font-xlarge: 2.5em; 
     --font-large: 1.5em; 
     --font-medium: 1.3em; 
     --font-small: 1.2em;  
     --font-xsmall: .9em; 
 }
