 { 
     margin: 0; 
     padding: 0; 
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
     box-sizing: border-box; 
 } 
  
 :root { 
     --color-darker : #F2BED1; 
     --color-dark : #FDCEDF; 
     --color-light : #F8E8EE; 
     --color-lighter : #F9F5F6; 
     --font-xlarge: 2.5em; 
     --font-large: 1.5em; 
     --font-medium: 1.3em; 
     --font-small: 1.2em;  
     --font-xsmall: .9em; 
 }
